<!DOCTYPE html>
<html>
    <head>
        <meta chartset="UTF-8">
        <title>SALÁRIO REAL</title>
        <link rel="shortcut icon" type="image/jpg" href="images/android-chrome-512x512.png">
        <link rel="stylesheet" href="static/estilo.css">
    </head>
    <main>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <header class="header">
            <div>
                <h1>SR - Salário Real - Tributos, Impostos, Taxas e Sociedade.</h1>
                <button name="button"><a href="/">Home</a></button>
            </div>
        </header>
        <!-- no additional media querie or css is required -->
        <div class="container">
                <div class="row justify-content-center align-items-center" style="height:100vh">
                    <div class="col-10">
                        <h1>Painel de controle:</h1>
                        <div class="card">
                            {%set menssagem = get_flashed_messages() %}
                                {% if menssagem %}
                                    <div class="flash_alerta">
                                        {{menssagem[0]}}
                                    </div>
                            {% endif %}
                            <h3> Usuários cadastrado.</h3>
                            {% if cadastro %}
                                {% for r in cadastro %}
                                    <form method="POST" action="/editar2">
                                        <ul>
                                            <input type="hidden" name="Ideditar" value="{{r[0]}}">
                                            <li>Id: {{r[0]}}</li>
                                            <li>Nome: {{r[1]}}</li>
                                            <li>e-mail: {{r[2]}}</li>
                                            <li>Perfil: {{r[3]}}</li>
                                            <div class="form-group">
                                                <label for="exampleInputNome">Nome</label>
                                                <input type="text" class="form-control" id="exampleInputNome" name="Nome" aria-describedby="nomeHelp"placeholder="Seu nome">
                                                <small id="nomeHelp" class="form-text text-muted">Nome completo.</small>
                                            </div>
                                            <div class="form-group">
                                            <label for="exampleInputEmail1">Endereço de email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" placeholder="Seu email">
                                            <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                                            </div>
                                            <div class="form-group">
                                                <input type="radio" value="Usuário" name="Usuário"> Usuário
                                                <input type="radio" value="profissional" name="Profissional"> Profissional
                                            </div>
                                        <button type="submit">EDITAR</button>
                                        </ul>
                                    </form>
                                {% endfor %}
                            {% else %}
                            <h3> Não existe usuários cadastrados.</h3>
                            {% endif %}
                            <div class="card-body">
                                <form method="POST" action="/logado">
                                    <div>
                                        <p><a href="/logado">Voltar!</a><p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>Contatos:</p>
                
                <p>Instagram <a href="https://www.instagram.com/salario.real/">@salario.real</a></p>
                <p>Whatsapp <a href="https://wa.me/5511950854003">Clique aqui!</a></p>
                <p>E-mail: <a href="mailto:salarioreal@salarioreal.com.br">salarioreal@salarioreal.com.br</a></p>
                <p>&copy; 2023 Salário Real | Todos os direitos reservados.</p>
            </footer>
        </div>
    </main>
</html>