<!DOCTYPE html>
<html>
    <head>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2844965163154710"
     crossorigin="anonymous"></script>
	 	<script src="https://kit.fontawesome.com/a1f378a060.js" crossorigin="anonymous"></script>
        <meta chartset="UTF-8">
		<title>SALÁRIO REAL</title>
		<meta name="description" content="Calculadora de salário líquido mensal. Saiba quanto você paga de tributos sobre o seu salário e descubra quanto você realmente ganha.">
		<meta name="keywords" content="salario liquido, salário líquido, salario, salário, calculadora salrio liquido, tributos, impostos, imposto de renda, inss, contribuição previdenciaria">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
		<link rel="icon" type="image/x-icon" href="images/favicon.ico">
		<link rel="icon" type="image/png" href="images/favicon-32x32.png">
		<link rel="icon" type="image/png" href="images/favicon-16x16.png">
		<link rel="icon" type="image/png" href="images/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="images/android-chrome-512x512.png">
		<link rel="icon" type="image/png" href="images/android-chrome-192x192.png">
        <link rel="stylesheet" href="static/estilo.css">
    </head>
	<header>
		<p style="margin-top: 0px; margin-bottom: 0px;" align="RIGHT"><a href="/login">ACESSAR CONTA</a></p>
		<h1>SR - Salário Real - Tributos, Impostos, Taxas e Sociedade.</h1>
		<p align="CENTER">O site SALÁRIO REAL é um serviço gratuito que se propõe a auxiliar o usuário como simples referência e verificação de cálculos. Este serviço não deve ser utilizado em substituição a um profissional habilitado.</p>
	</header>
    <main>
        <div class="wrapper">
            <header class="header">
                <h1>Calculadora de Salário Líquido</h1>
                <h2>Tabelas de IR e INSS atualizadas! [2023]</h2>
                <h3>A calculadora retorna o valor do salário, descontado o IR, INSS e outras deduções legais, se houver.</h3>
                <h3>Preencha os campos abaixo para realizar o cálculo do salário líquido mensal.</h3>
                <form method="POST" action="/">
					<div>
						<table style="border-collapse: collapse; margin:auto;" width="85%" cellspacing="1" bordercolor="#666" border="1"></table>
							<tbody>				
								<tr> 
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><label for="rendimentos">Rendimentos tributáveis:</label></span></p>
									</td>
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><input type="text" placeholder="Valor maior que 0.00" id="redimentos" name="Rendimentos tributáveis" pattern="[0.01-9]{1,15}" required class="validity"></span></p>
									</td>
								</tr>
								<tr>
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><label for="dependentes">Quantidade de dependentes:</label></span></p>
									</td>
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><input type="text" placeholder="0 ou maior que 0" id="dependentes" name="Quantidade de dependentes" pattern="[0-9]{1,2}" required class="validity"></span></p>
									</td>
								</tr>
								<tr>
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><label for="deduções">Outras deduções:</label></span></p>
									</td>
									<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
									<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><input type="text" placeholder="0.00 ou maior que 0.00" id="deduções" name="Outras deduções" pattern="[0.01-9]{1,15}" required class="validity"></span></p>
									</td>
								</tr>
							</tbody>
						</table>			
					</div>
					<div>
						<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-bottom: 10px; margin-bottom: 50px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><input type="submit" value="Enviar"></span></p>
						</td>
					</div>
				</form>
			</header>
            <article class="content">
                <body>
					<div>
						<h2 style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><a href="/domestic">Calcule aqui a Folha de pagamento de empregado(a) doméstico(a)!</a></h2>
					</div>
					<h1>Cálculos realizados de acordo com as normas da Receita Federal do Brasil - RFB e do Instituto Nacional do Seguro Social - INSS.</h1>
                </body>
            </article>
            <div id="txt_cest">
			<p><strong></strong></p>

			<p style="color: #030120;">- Tabela IRRF:</p>
			<table style="border-collapse: collapse; margin:auto;" width="85%" cellspacing="1" bordercolor="#666" border="1">
					<tbody>
						<tr bgcolor="#CAFBE3">
							<td style="background-color: rgb(204, 204, 204);" width="23%" valign="MIDDLE" bgcolor="#EAF4FF">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><strong>Base de Cálculo (R$)</strong></span></p>
							</td>
							<td style="background-color: rgb(204, 204, 204);" width="22%" valign="MIDDLE" bgcolor="#EAF4FF">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><strong><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">Alíquota (%)</span></strong></p>
							</td>
							<td style="background-color: rgb(204, 204, 204);" width="16%" valign="MIDDLE" bgcolor="#EAF4FF">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: 'Serifa BT', 'Georgia Ref';"><strong><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">Parcela a Deduzir do IR (R$)</span></strong></span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">De 2.112,01 até 2.826,65</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">7,5%</span></p>
							</td>
							<td width="16%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">158,40</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">De 2.826,66 até 3.751,05</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">15%</span></p>
							</td>
							<td width="16%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">370,40</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">De 3.751,06 até 4.664,68</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">22,5%</span></p>
							</td>
							<td width="16%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">651,73</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">Acima de 4.664,68</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">27,5%</span></p>
							</td>
							<td width="16%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">884,96</span></p>
							</td>
						</tr>
					</tbody>
				</table>
			<p style="color: #030120;">- Tabela INSS:</p>
			<table style="border-collapse: collapse; margin:auto;" width="85%" cellspacing="1" bordercolor="#666" border="1">
					<tbody>
						<tr bgcolor="#CAFBE3">
							<td style="background-color: rgb(204, 204, 204);" width="23%" valign="MIDDLE" bgcolor="#EAF4FF">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;"><strong>Base de Cálculo (R$)</strong></span></p>
							</td>
							<td style="background-color: rgb(204, 204, 204);" width="22%" valign="MIDDLE" bgcolor="#EAF4FF">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><strong><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">Alíquota (%)</span></strong></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">até R$ 1.320,00</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">7,5%</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">de R$ 1.320,01 até R$ 2.571,29</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">9%</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">de R$ 2.571,30 até R$ 3.856,94 </span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">12%</span></p>
							</td>
						</tr>
						<tr>
							<td width="23%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">de R$ 3.856,95 até R$ 7.507,49</span></p>
							</td>
							<td width="22%" valign="MIDDLE" bgcolor="#ffffff">
							<p style="margin-top: 0px; margin-bottom: 0px;" align="CENTER"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">14%</span></p>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
            <footer class="footer">
                <p>Contatos:</p>
				
                <a href="https://www.instagram.com/salario.real/"><i class="fa-brands fa-3x fa-instagram" style="color: #141a24;"></i></a>
                <a href="https://wa.me/5511950854003"><i class="fa-brands fa-3x fa-whatsapp" style="color: #141a24;"></i></a>
                <a href="mailto:salarioreal@salarioreal.com.br"><i class="fa-regular fa-3x fa-envelope" style="color: #141a24;"></i></a>
				<p>&copy; 2023 Salário Real | Todos os direitos reservados.</p>
			</footer>
        </div>
    </main>
</html>	