<!DOCTYPE html>
<html>
    <head>
        <meta chartset="UTF-8">
        <title>SALÁRIO REAL</title>
        <link rel="shortcut icon" type="image/jpg" href="images/android-chrome-512x512.png">
        <link rel="stylesheet" href="static/estilo.css">
    </head>
    <main>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <header class="header">
            <div>
                <h1>SR - Salário Real - Tributos, Impostos, Taxas e Sociedade.</h1>
                <button name="button"><a href="/">Home</a></button>
            </div>
        </header>
        <!-- no additional media querie or css is required -->
        <div class="container">
                <div class="row justify-content-center align-items-center" style="height:100vh">
                    <div class="col-10">
                        <h1>Painel de controle:</h1>
                        <div class="card">
                            <p>{{l}} você esta logado!</p>
                            <div class="card-body">
                                <form method="POST" action="/logado">
                                    <div>
                                        <input type="radio" value="editar" name="Editar"> Atualizar dados.
                                    </div>
                                    </div>
                                    <input type="submit" value="Executar">
                                    <div>
                                    <div>
                                        <p><a href="/login">Sair</a><p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <p>Contatos:</p>
                
                <p>Instagram <a href="https://www.instagram.com/salario.real/">@salario.real</a></p>
                <p>Whatsapp <a href="https://wa.me/5511950854003">Clique aqui!</a></p>
                <p>E-mail: <a href="mailto:salarioreal@salarioreal.com.br">salarioreal@salarioreal.com.br</a></p>
                <p>&copy; 2023 Salário Real | Todos os direitos reservados.</p>
            </footer>
        </div>
    </main>
</html>