<!DOCTYPE html>
<html>
    <head>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2844965163154710"
     crossorigin="anonymous"></script>
        <meta chartset="UTF-8">
        <title>SALÁRIO REAL</title>
        <limk rel="shortcut icon" href="favicon.ico">
        <limk rel="icon" href="images/favicon-32x32.png" type="image/x-icon">
        <limk rel="icon" href="images/favicon-16x16.png" type="image/x-icon">
        <limk rel="icon" href="images/apple-touch-icon.png" type="image/x-icon">
        <limk rel="icon" href="images/android-chrome-512x512.png" type="image/x-icon">
        <limk rel="icon" href="images/android-chrome-192x192.png" type="image/x-icon">
        <link rel="stylesheet" href="static/estilo.css">
    </head>
    <header>
		<h1>SR - Salário Real - Tributos, Impostos, Taxas e Sociedade.</h1>
	</header>
    <main>
        <div class="wrapper">
            <header class="header">
                <div>
                    <button name="button"><a href="/">Home</a></button>
                </div>
                <h1>Cálculo de Folha de pagamento de empregado(a) doméstico(a).</h1>
                <h4>Tabelas de IR e INSS atualizadas!</h4>
                <p>O site SALÁRIO REAL é um serviço gratuito que se propõe a auxiliar o usuário como simples referência e verificação de cálculos. Este serviço não deve ser utilizado em substituição a um profissional habilitado.</p>
            </header>
            <article class="content">
                <body>
                    <h1></h1>
                <section>
                    <table style="border-collapse: collapse; margin:auto;" width="30%" cellspacing="1" bordercolor="#666" border="1">
                        <tr>
                            <td>
                            <h1>Salário bruto do(a) trabalhador(a): R$ {{r}}</h1>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h2>INSS retido do trabalhador(a): R$ {{inss}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h2>IR retido do trabalhador(a): R$ {{irp}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h1>Salário líquido do(a) trabalhador(a): R$ {{sl}}</h1>
                            </td>
                        </tr>
                    </table>
                    <p>Valores de responsabilidade do empregador:</p>
                    <ul>
                        <li>8,0% de contribuição patronal previdenciária;</li>
                        <li>0,8% de seguro contra acidentes do trabalho (GILRAT);</li>
                        <li>8,0% de FGTS;</li>
                        <li>3,2% de indenização compensatória (Multa FGTS).</li>
                    </ul>
                    <table style="border-collapse: collapse; margin:auto;" width="30%" cellspacing="1" bordercolor="#666" border="1">
                        <tr>
                            <td>                    
                            <h2>Contribuição patronal previdenciária: R$ {{cont}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h2>Seguro contra acidentes do trabalho: R$ {{gil}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h2>FGTS: R$ {{fg}}</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h2>Indenização compensatória (Multa FGTS): R$ {{mfg}}</h2>
                            </td>
                        </tr>
                    </table>
                    <p>Todos os tributos e o FGTS relacionados à folha de pagamento poderão ser recolhidos em apenas uma guia (Documento de Arrecadação do eSocial - DAE), de acordo com a Lei Complementar nº 150/2015.</p>
                    <table style="border-collapse: collapse; margin:auto;" width="30%" cellspacing="1" bordercolor="#666" border="1">
                        <tr>
                            <td>                    
                            <h2>Valor total do DAE a ser recolhido: R$ {{dae}}</h2>
                            </td>
                        </tr>
                    </table>
                    <h3>Custo total da Folha de pagamento do(a) empregado(a) doméstico(a).</h3>
                    <table style="border-collapse: collapse; margin:auto;" width="30%" cellspacing="1" bordercolor="#666" border="1">
                        <tr>
                            <td>                    
                            <h1>Valor total desembolsado pelo empregador: R$ {{totalemp}}</h1>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <p style="margin-bottom: 10px; margin-bottom: 50px;" align="CENTER"><button name="button"><a href="/domestic">Calcular novamente</a></button></p>
                    </div>
                    <div>
						<!--<a href="/artigos">Sistema Tributário Nacional</a>-->
					</div>
                </section>
                </body>
            </article>
            <footer class="footer">
                <p>Contatos:</p>
                
                <p>Instagram <a href="https://www.instagram.com/salario.real/">@salario.real</a></p>
                <p>Whatsapp <a href="https://wa.me/5511950854003">Clique aqui!</a></p>
                <p>E-mail: <a href="mailto:salarioreal@salarioreal.com.br">salarioreal@salarioreal.com.br</a></p>
                <p>&copy; 2023 Salário Real | Todos os direitos reservados.</p>
            </footer>
        </div>
    </main>
</html>	